.buttonC{
    background-color: #00506b;
    height: 55px;
    width: 200px;
    text-align: center;  
    font-size: large;
    color: bisque;
    cursor: pointer;
    border-radius: 10px;
  }
  .buttonCenter{
    margin-top: 25px;
    text-align: center; 
    /* display: flex; */
    /* align-items: flex-end; */
    min-height: 100px;   
  }