
.container{
  /*altura minima do container*/
  min-height: 100vh;
  background: #303030;
  color: rgb(189, 178, 163);
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.post{
  background: #252323;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 100ms ease-in-out;
}
.post:hover {
transform: scale(1.05);
}
.post-content {
  padding: 30px;

}
.post img{
  max-width: 100%;
}
.posts {
  display: grid;
  /*aq esta sendo configurado q será a coluna no minimo de 280px e 1 fileira*/
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  /*espaçamento entre as grids*/
  gap: 30px;
}
.h1top{
  font-size: 50px;
  text-align: center;
  margin-bottom: 25px;
}
.fundo{
  background-color:  #252323;;
}