.posts {
  display: grid;
  /*aq esta sendo configurado q será a coluna no minimo de 280px e 1 fileira*/
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  /*espaçamento entre as grids*/
  gap: 30px;
}
.container{
  /*altura minima do container*/
  min-height: 100vh;
  background: #303030;
  color: rgb(189, 178, 163);
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.post{
  background: #252323;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 100ms ease-in-out;
}
.post:hover {
transform: scale(1.05);
}
.post-content {
  padding: 30px;

}
.post img{
  max-width: 100%;
}
.buttonC{
  background-color: #00506b;
  height: 55px;
  width: 200px;
  text-align: center;  
  font-size: large;
  color: bisque;
  cursor: pointer;
  border-radius: 10px;
}
.buttonCenter{
  margin-top: 25px;
  text-align: center;    
}