.menu {
    font-family: monospace;
    background-color: #22438c;
    width: 35px;
    height: 40px;
    padding: 5px, 5px;
    line-height: 50px;
    overflow: hidden;
    color: #eee;
    border-radius: 25px;
    display: flex;
    transition: all .5s ease;
    cursor: pointer;
    box-shadow: 0px 0px 4px #000;
    
}

.menu li {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    padding: 5px, 10px;
    margin: 0 auto;
  
    
}
.menu li a {
    text-decoration: none;
    color: #eee;
}
.menu:hover{
    width: 200px;
}
/* *{
    padding: 10px;
} */
img {
    width: 25px;
    height: 35px;
}